.heroWrapper {
  width: 100%;
  min-height: 460px;
  height: 50%;
  background: #deedd6;
  position: relative;
  justify-content: flex-start;
  /*z-index: -1;*/
}

.heroInner {
  margin-left: 150px;
  flex-direction: column;
  z-index: 10;
}

.dropDown {
  z-index: 100;
  position: absolute;
  left: 40px;
  top: 40px;
  padding: 20px 20px 20px 20px;
  border: none;
  border-radius: 10px;
  background: white;
  outline-style: none;
  cursor: pointer;
}

.headerText {
  letter-spacing: 0.5px;
  font-size: 2.5rem;
  color: #353839;
  font-weight: 600;
  width: 100%;
  margin-top: 5px;
}

.heroInner p {
  font-size: 18px;
  margin: 25px 0;
}
.inputLocation {
  display: flex;
  justify-content: flex-start;
  width: 475px;
  background: white;
  border-radius: 0.75rem;
}

.inputLocation i {
  margin: 25px;
}
.inputLocation input {
  padding: 20px 100px 20px 0;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.inputLocation input::placeholder {
  font-size: 1.2rem;
}

.heroImage {
  background-image: url("https://d2d8wwwkmhfcva.cloudfront.net/x856/d2guulkeunn7d8.cloudfront.net/assets/homepage/homepage_background_full_m3_cropped-8d2d286263821da7decd7c61fb1db1eb0e3dec13e0c356277d6d3cb7484c024a.jpg");
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  height: 100%;
  width: 350px;
  background-size: 350px 460px;
}

.arrow {
  color: #38bc38;
}

@media (max-width: 880px) {
  .dropDown {
    display: none;
  }
  .headerText {
    font-size: 2rem;
  }
}
