.navbarWrapper {
  width: 100%;
  height: 8vh;
}

.navbarInner {
  justify-content: space-between;
  width: 95%;
  height: 100%;
  position: absolute;
}

.navLeft {
  min-width: 10%;
}

.navRight {
  width: 100%;
  justify-content: space-between;
}

.navLinksWrapper {
  display: flex;
}

.nav {
  color: grey;
  font-weight: 600;
  margin: 0 10px;
  cursor: pointer;
}
.nav:hover {
  color: #343538;
}

.verticalLine {
  border-left: 3px solid #dadada;
  height: 25px;
  margin-right: 10px;
}

.imageWrapper {
  width: 80%;
  height: 50%;
  cursor: pointer;
}

.login {
  color: #343538;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.signup {
  padding: 0.75rem 0.75rem;
  border-radius: 70px;
  background: #0aad0a;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: 25px;
  cursor: pointer;
  outline-style: none;
  border-style: none;
}

/* HAMBURGER */
.hamburger {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  background: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
  border: none;
  z-index: 1500;
  margin: 0 20px 0 10px;
}

.hamburgerLines {
  display: block;
  width: 20px;
  height: 2px;
  background: #1d3964;
  border-radius: 1px;
  transition: 400ms background 0ms, 400ms transform 0ms;
}

.hamburgerLines::before,
.hamburgerLines::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background: #1d3964;
  position: relative;
  transition: 400ms background 0ms, 400ms transform 400ms;
}

.hamburgerLines::before {
  top: -5px;
}
.hamburgerLines::after {
  bottom: -3px;
  opacity: 1;
  transition: 400ms opacity 600ms;
}
.hamburger.active span {
  transform: rotate(135deg);
  transition: 400ms transform 400ms, 400ms background 400ms;
}
.hamburger.active span::before {
  transform: rotate(90deg) translatex(5px);
  transition: 400ms transform 0ms, 400ms background 400ms;
}
.hamburger.active span::after {
  opacity: 0;
  transition: 400ms opacity 0ms;
}

/*NAVBAR RESPONSIVE*/
.navResWrapper {
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  list-style-type: none;
}
.navResLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*z-index: 100000;*/
  /*transform: translateX(-100%);*/
  /*transition: all 0.5s ease-out;*/
}
.navR {
  /*margin-top: 10px;*/
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

/*.navResLinks .hrNav{*/
/*  background: dimgray;*/
/*  width: 90%;*/
/*  height: 2px;*/
/*  margin: 30px;*/
/*}*/

.navRdropDown {
  padding: 20px;
  margin: 2px;
  /*border: none;*/
  outline: none;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
  .hamburger {
    display: flex;
  }
  .navResWrapper {
    display: flex;
  }
  .navLinksWrapper {
    display: none;
  }
  .navRight {
    justify-content: flex-end;
  }
  .navLeft {
    width: 300px;
  }
  .navbarWrapper {
    box-shadow: 5px 2px 15px #cecece;
  }
}
