.navbarWrapper {
  width: 100%;
  height: max(12vh, 120px);
  margin: 80px 0 25px 0;
}

.navbarColumn {
  border-top: 1px solid rgba(52, 53, 56, 0.1);
  flex-direction: column;
  width: 1250px;
  height: 100%;
}

.navbarInner {
  margin-top: 30px;
  width: 90%;
}

.navLeft {
  width: 30%;
  font-weight: 500;
  color: #231f20;
}

.navRight {
  width: 70%;
  justify-content: space-between;
}

.navLink {
  margin-left: 20px;
  color: #231f20;
  font-weight: 500;
}

.footerText {
  width: 80%;
  height: 100%;

  text-align: center;
  color: lightslategrey;
  font-size: 12px;
}
