* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /*font-family: "Roboto", sans-serif;*/
  font-family: 'Poppins 400', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hrFooter{
  border-top: 1px solid #dadada;
  width: 55%;
  margin: auto;
  /*margin-top: 100px;*/
}


.fa{
  margin: 10px;
  color: #231F20;
}
